<div [appHighlightFavorite]="contact.isFavorite"
  class="flex items-center justify-between bg-gray-100 rounded-lg px-6 py-3 mb-3">
  <div>
    <p class="font-semibold">{{ contact.nama | uppercase }}</p>
    <p class="text-sm text-gray-500">{{ contact.email }} · {{ contact.phone | formatPhone }} · {{ contact.createdAt | date:'dd/MM/yyyy' }}</p>
  </div>

  <div class="flex items-center gap-3">
    <i class="pi cursor-pointer text-yellow-500"
      [ngClass]="contact.isFavorite ? 'pi-star-fill' : 'pi-star'"
      (click)="onToggleFavorite(contact.id)"></i>

    <app-button [variant]="'danger'" [size]="'icon'" class="rounded-full!" (onClick)="onDelete(contact.id)">
      <i class="pi pi-times text-xs!"></i>
    </app-button>
  </div>
</div>
