<div class="p-6">
  <div class="flex items-center justify-between mb-4">
    <h2 class="text-xl font-semibold text-white">Daftar Kontak</h2>
    <app-button [variant]="'primary'" (onClick)="toggleAddForm()">Tambah</app-button>
  </div>

  @if (showAddForm) {
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="bg-white rounded-2xl p-6 mb-6 shadow">
      <div class="mb-4">
        <input-text formControlName="nama" [label]="'Nama'" [placeholder]="'fill name'" [control]="form.get('nama')"></input-text>
      </div>
      <div class="mb-4">
        <input-text formControlName="email" [type]="'email'" [placeholder]="'fill email'" [label]="'Email'" [control]="form.get('email')"></input-text>
      </div>
      <div class="mb-4">
        <input-text formControlName="phone" [label]="'No HP'" [placeholder]="'fill phone number'" [control]="form.get('phone')"></input-text>
      </div>

      <app-button [variant]="'primary'" [type]="'submit'" [disabled]="form.invalid">Simpan</app-button>
    </form>
  }

  <app-contact-list [contacts]="contacts" (delete)="onDelete($event)" (toggleFavorite)="onToggleFavorite($event)" />
</div>
